<h1>MAS Kreeda - Intimo</h1>
<p>Data collection summaryweb app </p>
<ul>
  <table id="entries">
    <tr>
      <th>Val1</th><th>Val2</th><th>Val3</th><th>Val4</th><th>Val5</th>

      <th>Val6</th><th>Val7</th><th>Val8</th><th>Val9</th><th>Val10</th>

      <th>Val11</th><th>Val12</th><th>Val13</th><th>Val14</th><th>Val15</th>
      <th>Val16</th><th>Val17</th><th>Val18</th><th>Val19</th><th>Val20</th>
    </tr>
  <tr *ngFor="let entry of entries">

      <td>{{entry.val1}}</td><td>{{entry.val2}}</td><td>{{entry.val3}}</td>
      <td>{{entry.val4}}</td><td>{{entry.val5}}</td><td>{{entry.val6}}</td>
      <td>{{entry.val7}}</td><td>{{entry.val8}}</td><td>{{entry.val9}}</td><td>{{entry.val10}}</td>
      <td>{{entry.val11}}</td><td>{{entry.val12}}</td><td>{{entry.val13}}</td>
      <td>{{entry.val14}}</td><td>{{entry.val15}}</td><td>{{entry.val16}}</td>
      <td>{{entry.val17}}</td><td>{{entry.val18}}</td><td>{{entry.val19}}</td><td>{{entry.val20}}</td>


  </tr>

  </table>
  <!--<li *ngFor="let entry of entries">-->
    <!--{{user.username}} ({{user.firstName}} {{user.lastName}})-->
     <!-- - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>-->
  <!--</li>-->
</ul>

